.select-field {
  min-height: 60px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 16px;
  border: 1px solid #dde2ee;
  border-radius: var(--radius-sm);
  background: var(--color-white);
  color: #606a80;
}

.select-field__icon {
  flex: 0 0 auto;
}

.select-field__content {
  width: 100%;
  display: grid;
  gap: 2px;
}

.select-field__content small {
  color: #737c92;
  font-size: 12px;
}

.select-field__content select {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  color: #0b1336;
}
