.search-panel {
  width: min(1295px, calc(100% - 80px));
  margin: -4px auto 32px;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  border-radius: var(--radius-md);
  background: var(--color-white);
  border: 1px solid var(--color-border);
  box-shadow: var(--shadow-medium);
  flex-direction: row;
}

.search-panel__input {
  min-height: 60px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 16px;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-sm);
  background: var(--color-white);
  color: var(--color-text-soft);
}

.search-panel__input input {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  color: var(--color-text);
}

.search-panel__search-button {
  min-height: 42px;
  min-width: 80px;
  border: 0;
  border-radius: var(--radius-sm);
  color: var(--color-white);
  font-weight: 900;
  background: var(--color-primary-dark);
}

@media (max-width: 1180px) {
  .search-panel {
    width: min(100% - 36px, 1295px);
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 760px) {
  .search-panel {
    grid-template-columns: 1fr;
  }
}
